* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background-color: #f8f7e7;
}

header {
  position: sticky;
  top: 0;
  background: #f8f7e7;
  z-index: 1;
}

nav {
  min-height: 5vh;
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav h1 {
  margin-bottom: 5px;
}
nav ul {
  font-size: 1.1rem;
  list-style: none;
  display: flex;
}
nav a,
nav li {
  color: #2c2c2b;
  text-decoration: none;
  margin: 0 10px 5px;
  transition: all 0.2s ease-in;
}
nav a:hover {
  color: #797979;
}
nav li:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}

section {
  min-height: 100vh;
}
section a,
section li {
  list-style: none;
  text-decoration: none;
  color: #2c2c2b;
  font-size: 1rem;
  width: 80vw;
  margin: 0 auto;
}
section li {
  transition: all 0.2s ease-out;
}
section li:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-out;
}

.home {
  background: #f8f7e7;
  text-align: center;
  line-height: 2;
  padding-top: 6rem;
}
.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  color: #2c2c2b;
  font-size: 1.2rem;
}
.row-1 {
  font-size: 2rem;
  animation: fadeIn 0.5s ease-in-out;
}
.row-2 {
  animation: fadeIn 0.9s ease-in-out;
}
.row-3 {
  animation: fadeIn 1.3s ease-in-out;
}
.row-4 {
  animation: fadeIn 1.7s ease-in-out;
}
.row-5 {
  animation: fadeIn 2.1s ease-in-out;
}

.me {
  animation: fade 1s cubic-bezier(0.13, 0.72, 0.45, 0.94);
  max-width: 60%;
  margin-top: 3rem;
  z-index: 0;
}

.about {
  background: linear-gradient(to bottom, #f8f7e7, #c5c5c1);
  padding-top: 8rem;
  text-align: center;
  line-height: 2;
}
.js {
  margin-bottom: 3px;
  margin-left: 6px;
}

.projects {
  background: linear-gradient(to bottom, #c5c5c1, #8f8f8c);
  padding-top: 5rem;
  text-align: center;
  line-height: 3;
}
.proj-img img {
  justify-content: center;
  align-items: center;
  width: 65%;
}

.buble {
  position: absolute;
  z-index: -2;
  border: 1px solid #1f1f1d;
  border-radius: 50px;
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.git-link img {
  width: 25px;
  margin: auto;
}

.soc-link img {
  flex-direction: row;
  width: 25px;
  margin: 0.5rem;
}
footer {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #1f1f1d;
}

@keyframes fadeIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.3;
    transform: scale(.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (min-width: 480px) {
  nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
  nav h1 {
    color: #2c2c2b;
  }
  .home {
    padding-top: 5rem;
    display: flex;
  }
  .me {
    width: 50%;
  }
  .home-grid-text img {
    cursor: pointer;
    padding-top: 3rem;
    transition: all 0.2s ease-out;
    animation: fade 1.7s ease-in-out;
  }
  .home-grid-text img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
  }
  .home-grid-text {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    grid-row: 2/3;
    margin-left: 2rem;
    height: 30rem;
  }
  .home-grid-img {
    grid-column: 2/2;
    grid-row: 1/3;
  }
  .home-grid {
    display: grid;
    width: 100vw;
  }
  .row-1 {
    padding-top: 6rem;
    font-size: 3rem;
  }
  .row-2,
  .row-3,
  .row-4,
  .row-5 {
    font-size: 1.3rem;
  }
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 5rem;
  }
  .proj-img img {
    width: 35%;
  }
  .skill-icon {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-bottom: 30rem;
    margin-top: 6rem;
  }
  .js {
    margin-left: 6px;
    margin-top: 5px;
  }
}