* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 48px 1fr 96px;
  min-height: 100vh;
  background: url(./img/nature_1920.jpg) no-repeat;
  background-position: center;
  font-family: sans-serif;
}

nav {
  padding: 1em;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right#b4b3af, #9a9b96);
}

.home {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  text-decoration: none;
  color: black;
  outline: none;
}
.about {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  text-decoration: none;
  color: black;
  outline: none;
}
.projects {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
  text-decoration: none;
  color: black;
  outline: none;
}

h1,
h2 {
  display: grid;
  justify-content: center;
  line-height: 5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.container-list { /* projects container */
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-cont {
  list-style: none;
  line-height: 1.5;
}

.animation {
  position: relative;
  animation: fadeInSwoop 0.5s reverse;
  animation-timing-function: ease-out;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #fff;
}
.fa {
  font-size: 20px;
}
a {
  grid-column: 2/2;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

@keyframes fadeInSwoop {
  from {
    transform: translateY(0);
    /* top: 0; */
    opacity: 1;
  }
  to {
    transform: translateY(300px);
    /* top: 300px; */
    opacity: 0;
  }
}
