* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  --transition-delay: 0.5s;
  --background-color: #fbfbfb;
  --nav-color: #bebebe;
  --accent-color: #c4a9d1;
  --text-color: #252732;
  --small-text: #3d3d43;

  font-family: sans-serif;
  background-color: var(--background-color);
  transition: var(--transition-delay);
}
body.dark {
  font-family: sans-serif;
  --background-color: #3d3d43;
  --nav-color: #252732;
  --accent-color: #915fa9;
  --text-color: #fbfbfb;
  --small-text: #d1c7c7;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav {
  height: 7vh;
  margin: auto;
  width: 100%;
  display: flex;
  background: var(--nav-color);
}

.separator {
  border: var(--accent-color) 0.1rem solid;
  border-radius: 50%;
}
.dark-theme {
  margin: auto;
  display: flex;
  border: var(--text-color) 2px solid;
  width: 1.2rem;
  height: 2.6rem;
  border-radius: 5px;
  justify-content: center;
  transform: rotate(90deg);
}
.toggle {
  outline: none;
  cursor: pointer;
  border: var(--text-color) 2px solid;
  background-color: var(--text-color);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transition: var(--transition-delay);
  transform: translateY(0);
}

.focus {
  transition: var(--transition-delay);
  transform: translateY(1.3rem);
}

.log {
  transform: rotate(90deg);
  padding-right: 3rem;
}
h1 {
  color: var(--text-color);
  padding-left: 3rem;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 40%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.nav-links li:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
section {
  min-height: 100vh;
}
section a,
section li {
  text-decoration: none;
  font-size: 1rem;
  margin: 0 auto;
}
.home-grid {
  display: grid;
  align-items: center;
  line-height: 1.8;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5rem;
}
.home-grid-text {
  grid-row: 2/3;
  text-align: left;
  padding-left: 10rem;
  height: 20rem;
}
.home-grid-text img {
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 0.2rem;
  background-color: var(--accent-color);
  border-radius: 10%;
  cursor: pointer;
}
.home-grid-text img:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px var(--nav-color);
  transition-duration: 0.3s;
}

.linkedin img {
  width: 55px;
  height: 55px;
  padding: 7px;
}
.home-grid-img {
  grid-column: 2/2;
  grid-row: 1/3;
}

.me {
  border-radius: 5px;
  box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 0;
}
h2 {
  text-align: left;
  padding-bottom: 3rem;
  padding-top: 4rem;
  margin: 0;
  font-size: 2rem;
  color: var(--text-color);
}
.pg1-1 {
  font-size: 1.3rem;
  color: var(--small-text);
}
.about {
  display: grid;
  grid-template-columns: 1fr;
  padding: 8rem;
  line-height: 2;
  grid-gap: 5rem;
}
.about-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skill-icon {
  align-items: center;
  display: grid;
  justify-content: center;
  padding-top: 4rem;
  grid-column: 2/2;
}
.js,
.css3,
.html {
  margin: 1rem;
  background-color: var(--accent-color);
  border-radius: 10%;
  padding: 0.2rem;
}
.projects {
  padding-top: 5rem;
  text-align: center;
}

.projects-text {
  text-align: center;
}
.pg3-1 {
  padding-top: 3rem;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.3rem;
}

footer {
  text-align: center;
  padding: 1rem;
  color: var(--small-text);
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: var(--text-color);
    margin: 5px;
  }
  nav {
    height: 8vh;
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    color: var(--small-text);
  }

  .nav-links {
    position: relative;
    color: #2c2c2b;
    height: 15vh;
    width: 50%;
    background: var(--nav-color);
    flex-direction: column;
    clip-path: circle(10px at 90% -20%);
    -webkit-clip-path: circle(10px at 90% -20%);
    transition: all 0.3s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -20%);
    -webkit-clip-path: circle(1000px at 90% -20%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 1rem;
    color: var(--text-color);
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
  section {
    min-height: 100vh;
  }
  .home-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.2rem;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
  }
  .home-grid-img {
    grid-column: 2/2;
    grid-row: 1/2;
  }
  .home-grid-text {
    padding-left: 1rem;
    text-align: left;
    grid-row: 2/2;
    margin: 0 auto;
    box-shadow: none;
  }
  .home-grid-text img {
    margin-right: 0;
    margin-top: 0.2rem;
    padding: 0;
    color: var(--accent-color);
    box-shadow: 5px 5px 5px var(--nav-color);
  }
  .linkedin img {
    width: 48px;
    height: 48px;
    padding: 7px;
    box-shadow: 5px 5px 5px var(--nav-color);
  }
  .pg1-1 {
    font-size: 1rem;
    color: var(--small-text);
  }
  .about {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 100vw;
    padding: 2rem;
    padding-top: 4rem;
    text-align: left;
  }
  .about-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .skill-icon {
    align-items: unset;
    padding-bottom: 0;
    padding-top: 0;
    grid-column: 2/2;
  }
  .js,
  .css3,
  .html {
    margin: 0;
    border-radius: 5px;
    padding: 0.2rem;
  }
  .me {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
  }

  .pg3-1 {
    padding-top: 3rem;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
  }
  h2 {
    text-align: left;
    padding: 0;
    padding-bottom: 2rem;
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-color);
  }
  .projects-text {
    text-align: center;
  }
  footer p {
    font-size: 0.6rem;
  }
}
