* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Spartan', sans-serif;
}

header {
  position: sticky;
  top: 0;
  background: #f8f7e7;
  z-index: 1;
  animation: fadeInSwoop 0.7s;
  animation-timing-function: ease-out;
}

nav {
  min-height: 5vh;
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  font-size: 1.1em;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #1f1f1d;
  text-decoration: none;
  margin: 0 10px 0;
}

section {
  min-height: 100vh;
}

section h2 {
  font-size: 1.5em;
  color: #2c2c2b;
}

section a,
section li {
  list-style: none;
  text-decoration: none;
  color: #2c2c2b;
  animation: 1s fadelist ease-in ;
  font-size: 1em;
}

.home {
  background: #f8f7e7;
  text-align: center;
  line-height: 2;
  padding-top: 3em;
}
.row-1 {
  padding-top: 3em;
  color: #2c2c2b;
  font-size: 2em;
  animation: fadeIn 0.5s ease-in-out;
}
.row-2 {
  color: #2c2c2b;
  animation: fadeIn 1s ease-in-out;
}
.row-3 {
  color: #2c2c2b;
  animation: fadeIn 1.3s ease-in-out;
}
.row-4 {
  color: #2c2c2b;
  animation: fadeIn 1.5s ease-in-out;
}
.row-5 {
  color: #2c2c2b;
  animation: fadeIn 1.7s ease-in-out;
}
.row-6 {
  color: #2c2c2b;
  animation: fadeIn 1.9s ease-in-out;
}

.me {
  animation: fade 1s cubic-bezier(0.13, 0.72, 0.45, 0.94);
  border-radius: 50%;
  width: 60%;
  height: 60%;
  z-index: 0;
}
.my-photo {
  display: flex;
  align-content: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.my-photo:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease-out;
}
.my-photo img {
  transition: all 0.3s ease-out;
}

.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
}

.paper-plane {
  position: absolute;
  height: 80px;
  top: 50%;
  left: 0%;
  opacity: 0.5;
}

.about {
  background: linear-gradient(to bottom, #f8f7e7, #c5c5c1);
  padding-top: 3em;
  text-align: center;
  line-height: 2;
}

.projects {
  background: linear-gradient(to bottom, #c5c5c1, #8f8f8c);
  padding-top: 5em;
  text-align: left;
  padding-left: 20px;
  line-height: 3;
}
.proj-img img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  transition: all 0.3s ease-out;
}
.proj-img img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

.buble {
  position: absolute;
  z-index: -2;
  border: 1px solid #1f1f1d;
  border-radius: 50px;
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.git-link  img{
  display: flex;
  justify-content: flex-end;
  width: 30px;
}

div a {
  text-decoration: none;
  color: #1f1f1d;
  font-size: 1.5em;
}

@keyframes fadeInSwoop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadelist {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (min-width: 480px) {
  nav {
    flex-direction: row;
  }
  .me {
    width: 50%;
    height: 50%;
    margin-top: 20px;
    border-radius: 50%;
  }
}