* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Spartan', sans-serif;
}

header {
  position: sticky;
  top: 0;
  background: #f8f7e7;
  z-index: 1;
}

nav {
  min-height: 5vh;
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  font-size: 1.1rem;
  list-style: none;
  display: flex;
}
nav a,
nav li {
  color: #2c2c2b;
  text-decoration: none;
  margin: 0 10px 5px;
  transition: all 0.2s ease-in;
}
nav a:hover {
  color: #797979;
}
nav li:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}

section {
  min-height: 100vh;
}
section a,
section li {
  list-style: none;
  text-decoration: none;
  color: #2c2c2b;
  font-size: 1rem;
  width: 80vw;
  margin: 0 auto;
}
section li {
  transition: all 0.2s ease-out;
}
section li:hover {
  transform: scale(1.1);
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-color: #e4736f;
  transition: all 0.2s ease-out;
}

.home {
  background: #f8f7e7;
  text-align: center;
  line-height: 2;
  padding-top: 8rem;
}
.row-1 {
  padding-top: 3rem;
  color: #2c2c2b;
  font-size: 2rem;
  animation: fadeIn 0.5s ease-in-out;
}
.row-2 {
  color: #2c2c2b;
  animation: fadeIn 0.9s ease-in-out;
}
.row-3 {
  color: #2c2c2b;
  animation: fadeIn 1.3s ease-in-out;
}
.row-4 {
  color: #2c2c2b;
  animation: fadeIn 1.7s ease-in-out;
}
.row-5 {
  color: #2c2c2b;
  animation: fadeIn 2.1s ease-in-out;
}

.me {
  animation: fade 1s cubic-bezier(0.13, 0.72, 0.45, 0.94);
  border-radius: 50%;
  width: 60%;
  height: 60%;
  z-index: 0;
}
.my-photo {
  display: flex;
  align-content: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.my-photo:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease-out;
}
.my-photo img {
  transition: all 0.3s ease-out;
}

.about {
  background: linear-gradient(to bottom, #f8f7e7, #c5c5c1);
  padding-top: 8rem;
  text-align: center;
  line-height: 2;
}

.projects {
  background: linear-gradient(to bottom, #c5c5c1, #8f8f8c);
  padding-top: 5rem;
  text-align: center;
  line-height: 3;
}
.proj-img img {
  justify-content: center;
  align-items: center;
  width: 65%;
}

.buble {
  position: absolute;
  z-index: -2;
  border: 1px solid #1f1f1d;
  border-radius: 50px;
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.git-link img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25px;
}

.soc-link img {
  flex-direction: row;
  width: 25px;
  margin: 0.5rem;
}
footer {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #1f1f1d;
}

@keyframes fadeIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (min-width: 480px) {
  nav {
    flex-direction: row;
  }
  .me {
    width: 50%;
    height: 50%;
    margin-top: 20px;
    border-radius: 50%;
  }
  .home {
    text-align: left;
    padding-left: 12rem;
    line-height: 2;
    padding-top: 8rem;
  }
  .proj-img img {
    width: 35%;
  }
}